@import 'colors';

button {
  &.flatbutton {
    padding-left: 4px !important;
    padding-right: 4px !important;
    span {
      padding-left:0 !important;
      padding-right:0 !important;
      text-align: center;
    }
  }

  &.btn-primary.iconbutton,
  &.btn-delete.iconbutton {
    background: #f7f7f7 !important;
    $delete: #999;
    svg {
      color: $delete !important;
      fill: $delete !important;
      width: 50%;
      height: 50%;
    }
    &:hover {
      background: $delete !important;
      svg {
        color: #fff !important;
        fill: #fff !important;
      }
    }
  }
  &.iconbutton {
    svg {
      color: #fff !important;
      fill: #fff !important;
      height: 25px !important;
      width: 25px !important;
    }
  }

  &.btn-primary.iconbutton {
    $p: $blue;
    background:$p !important;
    color: #fff !important;
    border-radius: 100%;

    &:hover {
      background:$p !important;
    }
  }

  &.raisedbutton {
    border-bottom: 1px solid #e1e1e1 !important;
  }
}
