@import 'colors';

.reactable-pagination {
  position: relative;
  top: 0px;

  td {
      padding-top: 20px !important;
  }

  a {
    text-decoration: none !important;
  }

  tr td {
    padding-bottom: 20px !important;
  }

  .reactable-page-button {
    display:inline-block;
    padding: 8px 0;
    background: #f1f1f1;
    text-align: center;
    width: 30px;
    height: 30px;
    font-size: 12px;
    font-weight: bold;

    color: #999 !important;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;

    margin: 4px;
    border-radius: 100%;


    &.reactable-current-page {
      background: none !important;
      color: #222 !important;
      &:hover {
        cursor: default !important;
        background: none !important;
        color: #222 !important;
      }
    }

    &:hover {
      background: #000 !important;
      color: #fff !important;
      text-decoration: none !important;
    }
  }

  .reactable-next-page,
  .reactable-previous-page {
    margin: 6px 20px;
    font-weight: bold;
  }

  .reactable-previous-page,
  .reactable-next-page {
    padding: 10px;
    color: #333 !important;
    &:hover {
      background :#000 !important;
      color: #fff !important;
    }
  }
}
