
.header {
  position: relative;
  min-height: 110px;
  z-index: 10;
  // border-bottom: 1px solid #c4c4c4;
  // margin-left: -15px;
  // margin-right: -15px;

  > .wrapper {
      border-bottom: 1px solid #e1e1e1;
      box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
      position: fixed;
      background: #fff;
      z-index: 9;
      width: 100%;
  }

  .header-core {
      height: 110px;
  }

  .logo-container {
    // background: url('/images/logo_mini.png') no-repeat;
    width: 85px;
    height: 89px;
  }

  .bailey-cosier {
    // position: absolute;
    // left: 135px;
    height: 110px;
    // width: 130px;
    padding-top: 30px;
    text-transform: uppercase;
    text-align: left;

    font-weight: 100;

    .first-name {
      font-size: 16px;
    }

    .last-name {
      display: block;
      font-size: 23px;
      position: relative;
      top: -4px;
    }
  }

  .emdash {
    // position: absolute;
    // left: 250px;
    top: 35px;
    border-bottom: 1px solid #000;
    width: 140px;
    height: 15px;
    transition: width ease-in-out 0.4s;
    -moz-transition: width ease-in-out 0.4s;
    -webkit-transition: width ease-in-out 0.4s;
  }

  .quality {
      top: 32px;
      @media(min-width: 550px) {
          top: 38px;
      }

      // left: 400px;
      font-size: 16px;
      transition: left, top ease-in-out 0.4s;
      -moz-transition: left, top ease-in-out 0.4s;
      -webkit-transition: left, top ease-in-out 0.4s;

      span {
          display: inline-block;
      }
  }

  @media(max-width: 460px) {
      .quality { top: 32px; left: 50px; }
  }

  @media(max-width: 355px) {
      .quality { top: 0px; display: none; }
  }

  @media(max-width: 1100px) {
  }
  .header-core {
      padding-left: 81px;
  }

  .nav.container {
      padding-right: 0;
      padding-left: 0;
      position: relative;
      top: 110px;
  }

  .navigation {
      position: relative;

      @media(min-width: 650px){
          & {
              // width: 650px;
              margin: auto;
          }
          a {
              min-width: 160px;
          }
      }

      @media(max-width: 649px) {
          .pointer {
              display: none;
          }
          a[href] {
              min-width: 50%;
          }
      }

      .pointer {
          position: absolute;
          z-index: 2;
          top: 52px;
          background: #fff;
          transition: left ease-in-out 0.3s;
          -webkit-transition: left ease-in-out 0.3s;
          -moz-transition: left ease-in-out 0.3s;
      }

      &.route-hello .pointer {    left: 75px; }
      &.route-work .pointer {     left: 235px; }
      &.route-services .pointer { left: 395px; }
      &.route-talk .pointer {     left: 550px; }

      a {
          $active: #2fb290;
          position: relative;
          top: 1px;
          display: inline-block;
          padding: 20px;
          // margin-left: 10px;
          // margin-right: 10px;
          text-align: center;
          text-transform: uppercase;
          // border-bottom: 1px solid #c4c4c4;
          color: #111;
          cursor: pointer;
          text-decoration: none;

          &:before {
              border-color: rgba(194, 225, 245, 0);
              border-bottom-color: #c2e1f5;
              border-width: 36px;
              margin-left: -36px;
          }

          &:after, &:before {
              bottom: 100%;
              left: 50%;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
          }

          &.active {
              color: #c4c4c4 !important;
              cursor: default !important;
          }

          &:hover {
              border-bottom: 1px solid $active;
              color: #000;
          }

          &.active:hover {
              // border-bottom: none;
          }
      }
  }
}
