
.header {
    position: relative;
    min-height: 80px;
    z-index: 10;
    @include transition(height 0.5s ease-out);
    // border-bottom: 1px solid #c4c4c4;
    // margin-left: -15px;
    // margin-right: -15px;

    > .wrapper {
        border-bottom: 1px solid #e1e1e1;
        box-shadow: 1px 1px 20px rgba(0,0,0,0.1);
        position: fixed;
        background: #fff;
        z-index: 9;
        width: 100%;
        @include transition(transform 0.2s ease-out);
    }

    .header-core {
        height: 80px;
        @include transition(all ease-out 0.3s);
    }

    .logo-container {
        // background: url('/images/logo_mini.png') no-repeat;
        width: 85px;
        height: 89px;
    }

    .bailey-cosier {
        height: 80px;
        max-width: 110px;
        // padding-top: 17px;
        @include transform(translateY(17px));
        @include transition(transform 0.3s ease-out);
        text-transform: uppercase;
        text-align: left;

        font-weight: 400;

        .first-name {
            font-size: 16px;
            @include transition(all 0.3s);
            position: absolute;
        }

        .initial {
            opacity: 0;
            top: 10px;
            /* right: 14px; */
            @include transform(translateX(30px));
            font-size: 20px;
            position: absolute;
            @include transition(all 0.2s ease-out);
        }

        .last-name {
            display: block;
            font-size: 23px;
            position: relative;
            top: 18px;
            @include transition(opacity 0.3s);
        }
    }

    .emdash {
        border-bottom: 1px solid #000;
        /* top: 25px; */
        height: 15px;
        @include transform(translateY(25px));
        @include transition(all ease-out 0.3s);
    }

    .quality {
        @include transition(transform ease-out 0.4s);
        @include transform(translateY(20px));

        @media(min-width: 550px) {
            @include transform(translateY(28px));
        }

        font-size: 16px;
        font-weight: 300;

        span {
            display: inline-block;
        }

        .v2 {
            min-width: 141px;
        }
    }

    @media(max-width: 460px) {
        .quality {
            @include transform(translateY(20px));
        }
    }

    @media(max-width: 355px) {
        // .emdash,
        // .quality { display: none; }
    }

    @media(max-width: 840px) {
        .header-core {
            padding-left: 81px;
        }
    }

    @media(min-width: 992px) and (max-width: 1050px) {
        .header-core {
            padding-left: 81px;
        }
    }

    @media(min-width: 1200px) and (max-width: 1280px) {
        .header-core {
            padding-left: 81px;
        }
    }

    .nav.container {
        padding-right: 0;
        padding-left: 0;
        position: relative;
        /* top: 80px; */
        @include transform(translateY(80px));
        @include transition(transform 0.3s ease-out);
    }

    .navigation {
        position: relative;
        a {
            position: relative;
            @include transition(padding 0.3s ease-out);
            overflow: hidden;
            outline: none;
            .border {
                position: absolute;
                bottom: 0;
                height: 2px;
                left: 0;
                width: 100%;
                background: yellow;

                @include rainbow();
                @include nav-glow-anim();

                @include transform(translateX(0px) scaleX(0));
                // @include transition(transform ease-in-out 0.4s);
                @include dual_transition(
                    transform ease-in-out 0.3s, background ease-in-out 0.6s);

            }
        }

        @media(min-width: 650px){
            & {
                // width: 650px;
                margin: auto;
            }
            a {
                min-width: 147px;
            }
        }

        @media(max-width: 735px) {
            .pointer {
                display: none;
            }

            // uniform width for all links in mobile
            a[href] {
                min-width: 50%;
                padding: 10px;
                // border-bottom: 1px solid #efefef !important;
                &.active {
                    border-bottom: 1px solid transparent !important;
                }
            }

            a.work, a.blogger {
                border-left: 1px solid #f1f1f1;
            }

            a.hello, a.work {
                border-bottom: 1px solid #e9e9e9 !important;
            }

            a.blogger, a.skills {
                top: -6px;
            }

            // hide excessive links for smaller displays
            // (still available via drawer)
            a[href="/contact"] {
                display: none;
            }

            a.inactive {
                border-bottom: 1px solid transparent;
            }
        }

        .pointer {
            position: absolute;
            z-index: 2;
            top: 61px;
            @include transition(transform ease-in-out 0.3s);
            .bg {
                width: 14px;
                height: 15px;
                top: -7px;
                background: #fff;
                position: absolute;
                transform: rotate(45deg);
                /* opacity:0; */
                @include transition(opacity 0.5s);
            }
            .bar-wrap {
                position: relative;
                width: 42px;
            }
            .bar {
                background: #c6c6c6;
                width: 15px;
                height: 2px;
                position: absolute;
                top: 4px;
                box-shadow: 1px 1px 4px rgba(0,0,0,0.1);
            }
            .left {
                @include rotate(45);
                left:-5px;
                z-index: 10;
            }
            .right {
                @include rotate(-45);
                left: 5px;
                z-index: 10;
            }
            .center {
                background: #fff;
                top: -1px;
                width: 20px;
                left: -2px;
                box-shadow: none;
                z-index: 1;
            }
            .center.c2 {
                top: -3px;
                left: -3px;
                width: 22px;
            }
        }

        &.route-hello .pointer {
            @include transform(translateX(68px));
        }

        &.route-work .pointer {
            @include transform(translateX(212px));
        }

        &.route-skills .pointer {
            @include transform(translateX(358px));
        }

        &.route-blogger .pointer {
            @include transform(translateX(506px));
        }

        &.route-contact .pointer {
            @include transform(translateX(653px));
        }

        a {
            position: relative;
            top: 1px;
            display: inline-block;
            padding: 20px;
            // margin-left: 10px;
            // margin-right: 10px;
            text-align: center;
            text-transform: uppercase;
            // border-bottom: 1px solid #c4c4c4;
            color: #111;
            cursor: pointer;
            text-decoration: none;

            &:before {
                border-color: rgba(194, 225, 245, 0);
                border-bottom-color: #c2e1f5;
                border-width: 36px;
                margin-left: -36px;
            }

            &:after, &:before {
                bottom: 100%;
                left: 50%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
            }

            &.active {
                color: #c4c4c4 !important;
                cursor: default !important;
            }

            &.active { 
                .border {
                    background: $main_active;
                    @include rainbow();

                    @include transform(translateX(0) scaleX(1));
                }

                // border-bottom: 1px solid $active;
                color: #000;
            }

            &:hover .border {
                // background: orange;
                @include transform(translateX(0) scaleX(1));
            }

            &.active:hover {
                // border-bottom: none;
            }
        }
    }
}

.nav.container .container {
    padding-left: 0;
    padding-right: 0;
}

.scrolled {
    .header .wrapper {
        @include transform(translateY(-30px));
    }

    .header .quality {
        @include transform(translateY(42px));
    }

    .header .emdash {
        @include transform(translateY(39px));
    }

    .bailey-cosier {
        @include transform(translateY(30px));
        .last-name {
            opacity: 0;
        }
        .first-name {
            font-size: 20px;
            @include transform(translateY(10px));
        }
        .initial {
            opacity: 1;
            position: absolute;
            @include transform(translateX(67px));
            color: #000;
        }
    }
    .pointer {
        opacity: 0;
    }
    @media(min-width: 767px) {
        .nav.container {
            background: rgba(255,255,255,1);
            position: fixed;
            @include transform(translateY(50px));
            width: 100%;
            border-bottom: 1px solid #c2c2c2;
            box-shadow: 1px 1px 18px rgba(0,0,0,0.3);
            .navigation {
                a {
                    top: 7px;
                    padding: 8px;
                }
                .pointer {
                    top: 43px;
                }
                .bg {
                    /* opacity: 1; */
                }
            }
        }
    }


    #toggle {
        span {
            margin-bottom: 4px;
        }
    }
}
