.core-layout {
    padding: 0;
    min-width: 370px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
.core-children {
    overflow-x: hidden;
    transform: translateY(0);

    transition: transform 0.3s ease-out;
    -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;

    @media(max-width: 735px) {
        // margin-top: 110px;
        transform: translateY(110px);
        -webkit-transform: translateY(82px);
        -moz-transform: translateY(82px);
    }

    @media(min-width: 735px) {
        transform: translateY(62px);
        -webkit-transform: translateY(62px);
        -moz-transform: translateY(62px);
    }

    div[class*="view"] {
        // background: blue;
        text-align: center;
        // padding: 20px;
        min-height: 900px;

        &.talk-view {
            // background: green;
        }

        &.home-view {
            // background: yellow;
        }

        &.work-view {
            // background: orange;
        }

        &.services-view {
            // background: purple;
        }
    }
}

#toggle {
    $active: #2fb290;
    background: #fff;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    position: fixed;
    // top: 30px;
    @include transform(translateY(30px));
    @include transition(transform 0.3s ease-out);

    left: 25px;
    z-index: 11;
    cursor: pointer;

    span {
        display: block;
        background: #000;
        height: 3px;
        width: 100%;
        margin-bottom: 6px;

    }

    &:hover {
        span {
            background: $active;
        }
    }
}

.scrolled {
    #toggle {
        @include transform(translateY(15px));
    }
}
