@media(max-width: 400px) {
    .visible-xxs {
        display: block !important;
    }

    .hidden-xxs {
        display: none !important;
    }
}
@media(min-width: 401px) {
    .visible-xxs {
        display: none !important;
    }
}
