
@import "mixins/anim";

.core-children .view {
    opacity: 0;
    @include animation(0.5s ease-in 0s 1 both fade-in);
    padding-top:200px;
    &.home-view {
        padding-top: 0;
    }
}

.first-load .core-children .view {
    @include animation(0.5s ease-in 0s 1 both fade-in);
}

.home-view {
    .home-backer {
        position: absolute;
        left: 0; right: 0;
        height: 480px;
        background: #bfbcb9;
    }
}
