@import 'colors';
.banner-content {
  // background: $highlight;
  background: #30cdb7;
  box-shadow: inset 2px 2px 38px rgba(0,0,0,0.1);
  // box-shadow: 2px 2px 2px #e8e8e8;
  min-height: 90px;
  // top: -100px;
  position: relative;
  padding: 20px;
  /* margin-bottom:25px; */
  color: #000;

  > h1 {
    position: relative;
    top: 0px;
    font-size: 32px;
    opacity: 1;
    color: #fff !important;
    transition: top 0.4s ease-in-out;
  }
}

body[route=dashboard] .banner-content {
}

body[route*=lists] .banner-content {
  min-height: 220px;
  > h1 {
    top: 23px;
  }
}
body[route=lists] .banner-content {
  background: #fff !important;

  > h1 {
    top: 0px;
    color: #000 !important;
  }
}

.banner-content + .toolbar {
  position: relative;
  top: 0px;
}
