
.mobile {
    position: relative;
    width: 332px;
    height: 491px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;

    > div {
        position: absolute;
        background-repeat: no-repeat;
    }

    .text {
        width: 276px;
        height: 201px;
        background: url('/images/intro/perspective_text.png');
        z-index: 3;
        left: -125px;
        top: -40px;
        opacity:0;
        @media(min-width:767px) and (max-width: 1080px) {
            left: -100px;
        }
    }

    .ground {
        width: 509px;
        height: 222px;
        background: url('/images/intro/ground.png');
        z-index: 2;
        left: -98px;
        bottom: 0;
    }

    .phone-base {
        top: -100px;
        width: 765px;
        height: 577px;
        // background: url('/images/intro/mobile_anim.gif');
        z-index: 1;
    }
}

.first-load .clouds {
}

@media(min-width: 767px) {
    .home-view .intro .box {
        // background: rgba(0,0,0,0.5);
        padding: 10px;
        border-radius: 3px;
        max-width: 370px;
    }
}

.clouds {
    position: relative;

    > div {
        position: absolute;
        .inner {
            position: absolute;
        }
    }

    @mixin cloud($i, $left, $top, $width, $height, $scale) {
        @include transform(
            translate(#{$left}px, #{$top}px)
            scale($scale));

        height: #{$height}px;
        width: #{$width}px;

        .inner {
            height: #{$height}px;
            width: #{$width}px;
            // background: url('/images/intro/cloud_#{$i}.png') no-repeat;
        }
    }

    .c1 {
        @include cloud(
            1, -300, 200, 420, 100, 0.8);
        @include trigger-slide-in(700);
        .inner { opacity: 0.8; }
    };

    .c2 {
        @include cloud(
            2, 100, 92, 320, 100, 1);
        @include trigger-slide-in(900);
    };

    .c3 {
        @include cloud(
            3, 350, 250, 320, 100, 0.8);
        @include trigger-slide-in(1200);
        .inner { opacity: 0.5; }
    };

    .c4 {
        @include cloud(
            4, 600, 300, 320, 100, 0.5);
        @include trigger-slide-in(1400);
        .inner { opacity: 0.1; }
    };

    .c5 {
        @include cloud(
            1, 270, 40, 320, 100, 0.5);
        @include trigger-slide-in(1100);
        .inner { opacity: 0.1  }
    };

    @media(min-width: 1050px) {
        .c2 {
            @include transform(translate(125px, 92px));
        }
    }

    @media(max-width: 780px) {
        .c2 {
            @include transform(translate(100px, 92px));
        }
    }
}


@media(max-width: 767px) {
    .view {
        padding: 0;
    }
}

.home-view {
    overflow: hidden;
    .home-backer {
        position: absolute;
        left: -40px; right: 0;
        height: 480px;
        background: #bfbcb9;
        box-shadow: inset 0px 1px 40px rgba(0,0,0,0.4);
        @include rainbow();
        width:120%;
        @include animation(1.4s 0s ease-in-out background-flare);
    }
}

.first-load .home-view .home-backer {
    @include animation(1.4s 1s ease-in-out background-flare);
}

.home-view  .intro {
    text-align: left;
    padding-top: 35px;
    z-index: 12;

    @media(max-width:767px) {
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 20px;
        padding-bottom: 30px;
        padding-top: 20px;
        .box {
            max-width: 420px;
        }
    }

    @media(min-width: 767px) {
        .box {
            float: left;
            max-width: 520px;
        }
        hr {
            max-width: 350px;
            margin-left: 0;
        }
    }

    .box {
        margin: auto;
        width: 100%;
    }


    h1 {
        font-weight: 100;
        margin-bottom: 4px;
        margin-top: 3px;
        color: #fff;

        &.mobile-and-cloud {
            font-size: 25px;
        }

        strong {
            font-weight: 300;
        }
    }

    h2 {
        font-size: 20px;
        font-weight: 100;
        margin-top: 2px;
        margin-bottom: 0;
        color: #fff;
    }

    h3 {
        margin-top: 2px;
        margin-bottom: 0;
        color: #fff;
    }

    @media(max-width: 767px) {
        h1, h2, h3 {
            color: #000;
        }
    }

    .buttons {
        margin-top: 14px;

        .button {
            position: relative;
            cursor: pointer;
            outline: none;
            font-size: 17px;
            text-align: center;
            border-radius: 3px;
            padding: 10px 4px;
            display:inline-block;
            width: 45%;

            &.work {
                // $bg: lighten(#1a1a1a, 6%);
                $bg: #4d8fc2;
                color: #fff;
                background: $bg;
                border: 1px solid darken($bg, 8%);
                margin-right: 10px;
                box-shadow: -2px 2px 0px darken($bg, 6%);

                &:hover {
                    $bg_h: darken($bg, 10%);
                    top: 2px;
                    left: -2px;
                    background: $bg_h;
                    border: 1px solid darken($bg_h, 1%);
                    box-shadow: -1px 1px 0px darken($bg_h, 6%);
                    @include transition(all 0.2s ease-out);
                }
            }

            &.quote {
                display: none;

                $accent: darken(#c7c7c7, 20%);
                background: $accent;
                border: 1px solid darken($accent, 5%);
                box-shadow: -2px 2px 0px darken($accent, 5%);
                color: #fff;
                &:hover {
                    top: 2px;
                    left: -2px;
                    background: darken($accent, 4%);
                    box-shadow: -1px 1px 0px darken($accent, 6%);
                    color: #fff;
                }
            }
        }
    }

}

.home-view .info-baileys {
    // background: $secondar;
    color: #000;
    text-align: left;
    padding: 20px;
    min-height: 250px;
    margin-top: 50px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    margin: 20px;

    @media(max-width: 767px) {
        .greeting {
            max-width: 100%;
            h2 {
                font-size: 24px;
            }
        }
    }

    h1 {
        color: #000;
        font-weight: 100;
    }


    .greeting {
        margin: auto;
        max-width: 80%;

        h1, h2 {
        }

        @media(min-width: 650px) {
            h2 {
                margin-left: 50px;
                span {
                    display: inline-block;
                    margin-left: 49px;
                    i {
                        display:inline-block;
                        margin-right: 10px;
                    }
                }
            }
        }

        h2 .shift {
            font-size: 20px;
        }
    }

    p.one {
        font-size: 24px;
        span.such-as {
            font-style: italic;
            display: inline-block;
            color: $primary_text;
            @media(max-width: 767px) {
                display: block;
                margin-top: 10px;
            }
        }
    }
}

.home-view {
    .success,
    .life {
        padding: 20px;
        p {
            margin: auto;
            max-width: 80%;
            font-size: 22px;
        }
    }

    .life {
        // background: $secondary_accent;
    }

    .success {
        padding: 20px;
        margin: 20px;
    }
}
