// $core: #17c4cd;
$core: darken(#03e5ab,1%);
$core2: #25bdd0;
$core_shadow: #0dabb3;
$core_text: #07a9bd;
$core_link: #07a9bd;
$secondary: #048FA0;
$secondary_fire: #5ad9a2;

$highlight: darken(#03e5ab,2%);
$primary_highlight: #c384ea;

$error: #de4471;
$red: $error;
$green: #30cdb7;
$blue: #00bcd4;