@import 'colors';

@media(max-width: 885px){
  .header-search {
    display: none !important;
  }
}

@media(max-width: 767px){
  .header-container {
    height: 80px;
    // overflow-x: hidden;

    .navbar-collapse {
      background: #fff;

      .navbar-nav {
        overflow: hidden;
      }

      li.user-menu {
        margin-top: 20px;
        border-top: 1px solid #f1f1f1;
      }

      li a {
        display: block;
        width: 100%;
        text-align: left;
        padding: 20px;
        min-height: 80px !important;
        padding-top: 26px !important;
        font-size: 20px !important;
        padding-left: 65px !important;

        &:hover {
          background: #f7f7f7 !important;
        }
      }
    }

    .navbar-header {
      min-height: 80px;
      // border-bottom: 1px solid #f1f1f1;
      border-bottom: none !important;
      margin-bottom: 0 !important;
    }

    .navbar-toggle {
      position: relative;
      top: 10px;
      right: 10px;
      border: none !important;
    }

    .navbar-form {
      border: none !important;
    }

    .btn.search-btn {
      position: absolute;
      right:4px;
      top:14px;
    }
  }
}
