@import 'colors';

// Adjust positioning of inner material checkbox for
// Correct highlighting when tabbing around.
input[type=checkbox] + div {
  > div > div:first-child {
    position: relative;
    left: -12px;
  }
  > div > div:last-child {
    width: 19px;
    height: 19px;
  }
}

input[type=checkbox]:focus + div > div > div:last-child {
  /* background: rgba(255,255,0, 0.3) !important; */
  border: 2px solid rgba(255,255,0,0.5) !important;
  box-shadow: 3px 3px 12px rgba(0,0,0,0.2);
  border-radius: 3px;
}

.card-actions {
  button{
    position: relative;
    // background: $highlight !important;
    background: darken($highlight, 4%) !important;
  }
  svg {
    zoom: 2;
    position: relative;
    top: -14px;
  }
}

a.back-btn-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 11px;
  color: #555 !important;
  position: absolute;
  left: 11px;
  top: 0px;


  &:hover .back-btn,
  &:hover {
    opacity: 1;
    color: #000;
  }
  .back-btn {
    svg {
      zoom: 1.5;
      margin-left: 0 !important;
    }
  }

  @media(max-width:767px){
    display: none;
  }
}

@keyframes closer {
  from {
    transform: translate(0,0);
  }

  to {
    transform: translate(240px,0)
  }
}
@keyframes farther {
  from {
    transform: translate(240px,0);
  }

  to {
    transform: translate(0px,0)
  }
}

body[route="lists/create"] a.back-btn-link {
  transition: transform 0.5s ease-in-out;
  transform: translate(240px, 0) !important;
  animation-name: closer;
  animation-duration: 0.5s;
  @media(max-width: 1290px){
    transform: translate(140px, 0) !important;
  }
  @media(max-width: 987px){
    transform: translate(80px, 0) !important;
  }
  @media(max-width: 860px){
    transform: translate(0px, 0) !important;
  }

  @media(max-width:767px){
    display: block;
    transform: translate(-30px, 0) !important;
  }
}
body[last-route="lists/create"][route="lists"] a.back-btn-link {
  // transition: transform 0.5s ease-in-out;
  // transform: translate(10px, 0) !important;
  // transition-delay: 1s;

  animation-name: further;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}


.list-dropdown {
  > div > div:nth-child(2) {
    min-width:210px;
    background: #fff;
    border-radius: 3px;
    min-height: 39px;
    padding-top: 10px;
    margin-top: 9px;
    line-height: initial !important;
    opacity: 0.7;
    top: -5px !important;

    &:hover {
      opacity:1;
    }
  }
}
