@import '../colors';

.phone-base {
    position: relative;
    @include animate-all-frames(400);
    @include rocks(700);
    left: -120px;

    @media(max-width: 767px) {
        left: -200px;
    }
}

.mobile .text {
    /* @include trigger-fade-in(700); */
    @include trigger-slide-in(250);
    @media(max-width: 767px) {
        left: -120px !important;
    }
}

.first-load .mobile .text {
    /* @include trigger-fade-in(1500); */
    @include trigger-slide-in(1000);
}

.first-load .phone-base {
    position: relative;
    @include animate-all-frames(1300);
    @include rocks(1600);
}

.phone-base .rock {
    position: absolute;
    top: 0;
    left: 100px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: none;
}

.phone-base .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.f1 { @include m(m_1); }
    &.f2 { @include m(m_2); }
    &.f3 { @include m(m_3); }
    &.f4 { @include m(m_4); }
    &.f5 { @include m(m_5); }
    &.f6 { @include m(m_6); }
    &.f7 { @include m(m_7); }
    &.f8 { @include m(m_8); }
    &.f9 { @include m(m_9); }
    &.f10 { @include m(m_10); }
}
