@import '../colors';

.phone-base {
    position: relative;
    @include animate-all-frames();
    @include rocks(0);
    left: -120px;

    @media(max-width: 767px) {
        left: -200px;
    }
}


.mobile .text {
    @media(max-width: 767px) {
        left: -120px !important;
    }
}

.hello-anim-start .mobile .text {
    @include trigger-slide-in(250);
}

.hello-anim-start .phone-base .f10 {
    @include animation(
        100ms ease-out 1s normal both running frame-in);
}

.phone-base .rock {
    position: absolute;
    top: 0;
    left: 100px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: none;
}

.phone-base .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;

    &.f1 { @include m(m_1); }
    &.f2 { @include m(m_2); }
    &.f3 { @include m(m_3); }
    &.f4 { @include m(m_4); }
    &.f5 { @include m(m_5); }
    &.f6 { @include m(m_6); }
    &.f7 { @include m(m_7); }
    &.f8 { @include m(m_8); }
    &.f9 { @include m(m_9); }
    &.f10 { @include m(m_10); }
}

.hello-anim-complete {
    .phone-base .frame {
        display: none !important;

        &.f9 {
            display: block !important;
            opacity: 0 !important;
            -webkit-transition: opacity 1s !important;
            transition: opacity 1s !important;
        }

        &.f10 {
            display: block !important;
            opacity: 1 !important;
        }
    }
}
