@import '../colors';


@mixin animate-phone-in($pad) {
    @include animate-frame-in(f1, $pad, 50, 100);
    @include animate-frame-in(f2, $pad, 150, 100);
    @include animate-frame-in(f3, $pad, 200, 100);
    @include animate-frame-in(f4, $pad, 250, 100);
    @include animate-frame-in(f5, $pad, 300, 100);
    @include animate-frame-in(f6, $pad, 350, 100);
    @include animate-frame-in(f7, $pad, 400, 100);
    @include animate-frame-in(f8, $pad, 450, 100);
    @include animate-frame-in(f9, $pad, 500, 100);
    @include animate-frame-in(f10, $pad, 550, 100);
}

@mixin animate-phone-out() {
    $pad: 0;
    @include animate-frame-out(f1, $pad, 700, 1000);
    @include animate-frame-out(f2, $pad, 500, 500);
    @include animate-frame-out(f3, $pad, 450, 200);
    @include animate-frame-out(f4, $pad, 400, 100);
    @include animate-frame-out(f5, $pad, 350, 100);
    @include animate-frame-out(f6, $pad, 300, 100);
    @include animate-frame-out(f7, $pad, 250, 100);
    @include animate-frame-out(f8, $pad, 200, 100);
    @include animate-frame-out(f9, $pad, 150, 100);
    // @include animate-frame-out(f10, $pad, 0, 100);
}


.mobile {
    .phone-base {
        position: relative;
        @include rocks(600);
        @media(max-width: 767px) {
            left: -200px;
        }
    }
    .text {
        @media(max-width: 767px) {
            left: -120px !important;
        }
    }
}

.tx-enter-active .mobile .text {
    @include trigger-slide-in(250);
}

.tx-exit .phone-base .frame.f10 {
    @include transition(opacity 100ms ease-out 200ms);
    opacity: 1 !important;
}

.tx-exit.tx-exit-active .phone-base .frame.f10 {
    opacity: 0 !important;
}

.tx-exit.tx-exit.tx-exit-active .phone-base {
    @include animate-phone-out();
}
.tx-enter.tx-enter-active .phone-base {
    @include animate-phone-in(300);
}

// .first-load .tx-enter.tx-enter-active .phone-base {
//     @include animate-phone-in(1000);
// }

// .tx-enter-active .phone-base .f10 {
//     @include animation( 100ms ease-out 1s normal both running frame-in);
// }

.phone-base .rock {
    position: absolute;
    top: 0;
    left: 100px;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-repeat: none;
    &.r3 {
        left: 140px;
    }
}

.phone-base .frame {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    &.f1 {
        @include m(m_1);
    }
    &.f2 {
        @include m(m_2);
    }
    &.f3 {
        @include m(m_3);
    }
    &.f4 {
        @include m(m_4);
    }
    &.f5 {
        @include m(m_5);
    }
    &.f6 {
        @include m(m_6);
    }
    &.f7 {
        @include m(m_7);
    }
    &.f8 {
        @include m(m_8);
    }
    &.f9 {
        @include m(m_9);
    }
    &.f10 {
        @include m(m_10);
    }
}

section[class="anim-container"] {
    .phone-base .rock {
        opacity: 1 !important;
    }
    .phone-base .frame {
        // display: none !important;
        &.f10 {
            // display: block !important;
            opacity: 1 !important;
        }
    }
}