@include keyframes(nav-border-glow) {
    0% {
		    background-position: 0% 50%
	  }
	  50% {
		    background-position: 100% 50%
	  }
	  100% {
		    background-position: 0% 50%
	  }
}

@include keyframes(background-flare) {
    0% {
		    background-position: 0% 0%
	  }
	  // 40% {
		//     background-position: 100% 60%
	  // }

    50% {
		    background-position: 20% 70%
    }

	  100% {
		    background-position: 0% 0%
	  }
}

@include keyframes(fade-in) {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@include keyframes(slide-in) {
    0% {
        top: -150px;
        opacity: 0;
    }

    100% {
        opacity: 1;
        top: -40px;
    }
}

@mixin trigger-show($delay) {
    @include animation(0s ease-in #{$delay}ms 1 normal both running fade-in);
}

@mixin trigger-fade-in($delay) {
    @include animation(1s ease-in-out #{$delay}ms 1 normal both running fade-in);
}

@mixin trigger-slide-in($delay) {
    @include animation(0.8s ease-in-out #{$delay}ms 1 normal both running slide-in);
}


@mixin nav-glow-anim() {
    @include animation(
        // duration
        4.5s
        // timing-function
        ease-in
        // delay
        1s
        // iterations
        infinite
        // direction
        normal
        // fill-mode
        none
        // play-state
        running
        // name
        nav-border-glow
    );
}

@mixin m($f) {
    background: url(../../public/images/intro/#{$f}.png);
}

@mixin rock($f, $idelay, $offset) {
    background: url(../../public/images/intro/m_rock_#{$f}.png);
    @include trigger-fade-in($idelay + $offset);
}

@mixin rocks($delay) {
    .rock.r1 { @include rock(1, $delay, 0); }
    .rock.r2 { @include rock(2, $delay, 100); }
    .rock.r3 { @include rock(3, $delay, 250); }
    .rock.r4 { @include rock(4, $delay, 400); }
    .rock.r5 { @include rock(5, $delay, 550); }
}


@include keyframes(opacity-in) {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@include keyframes(opacity-out) {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@mixin animate-frame-in($f, $pad, $offset, $doffset) {
    $delay: $pad + $offset;
    $dur: $doffset + 50;

    .#{$f} {
        @include animation(
            #{$dur}ms ease-out #{$delay}ms 1 normal none running opacity-in);
    }
}

@mixin animate-frame-out($f, $pad, $offset, $doffset) {
    $delay: $pad + $offset;
    $dur: $doffset + 50;

    .#{$f} {
        @include animation(
            #{$dur}ms ease-out #{$delay}ms 1 normal none running opacity-out);
    }
}
