.tx-enter {
    opacity: 0;
}

.tx-enter.tx-enter-active {
    opacity: 1;
    transition: opacity 1000ms ease-in;
}

.tx-exit {
    opacity: 1;
    // transform: translate(0, 0);
}

.tx-exit.tx-exit-active {
    opacity: 0;
    // transform: translate(0, 3vh);
    transition: opacity 1000ms ease-in, transform 1000ms ease-in-out;
}

.tx-exit-active,
.tx-enter-active {
    position: absolute;
    top: 0; bottom: 0; left: 0;
    right: 0;
}

body[route="intro"] .tx-enter {
    &.tx-enter-active {
        position: absolute;
        opacity: 1;
        z-index: 100;
    }
}
    

.tx-exit {
    .phone-base .rock {
        opacity: 0 !important;
        background: none !important;
    };
}