
// animating
@mixin animation($anim) {
    -o-animation: $anim;
    -moz-animation: $anim;
    -webkit-animation: $anim;
    animation: $anim;
}


@mixin keyframes($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }
    @-moz-keyframes #{$animationName} {
        @content;
    }
    @-o-keyframes #{$animationName} {
        @content;
    }
    @keyframes #{$animationName} {
        @content;
    }
}

// generic transition
@mixin transition($transitions) {
    -moz-transition: $transitions;
    -webkit-transition: $transitions;
    -o-transition: $transitions;
    -ms-transition: $transitions;
    transition: $transitions;
}

@mixin dual_transition($t1, $t2) {
    -moz-transition: $t1, $t2;
    -webkit-transition: $t1, $t2;
    -o-transition: $t1, $t2;
    -ms-transition: $t1, $t2;
    transition: $t1, $t2;
}

// generic transform
@mixin transform($transforms) {
	  -moz-transform: $transforms;
	  -o-transform: $transforms;
	  -ms-transform: $transforms;
	  -webkit-transform: $transforms;
    transform: $transforms;
}

// rotate
@mixin rotate ($deg) {
    @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
	  @include transform(scale($scale));
}

// translate
@mixin translate ($x, $y) {
    @include transform(translate($x, $y));
}

// skew
@mixin skew ($x, $y) {
    @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
	  -o-transform-origin: $origin;
	  -ms-transform-origin: $origin;
	  -webkit-transform-origin: $origin;
    transform-origin: $origin;
}
